/* Estilos mejorados para una apariencia más atractiva */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

#flag-img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#score {
  margin-top: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Estilos para botones */
.green-btn {
  background-color: #4CAF50; /* Color verde */
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.green-btn:hover {
  background-color: #45a049; /* Color verde más oscuro al pasar el mouse */
}

input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}

p#result {
  margin: 20px 0;
  font-size: 24px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

footer p {
  margin: 0;
}

/* Estilos para botón de tema oscuro */
#toggle-theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;
}

#toggle-theme-btn:hover {
  transform: scale(1.1);
}

#toggle-theme-btn:focus {
  border: none;
}

#toggle-theme-btn i {
  color: #fff;
  font-size: 24px;
}

/* Estilos específicos para modo oscuro */
.dark-mode-btn {
  background-color: #f5f5f5;
  color: #333;
}

.dark {
  color: #fff;
  background-color: #222;
}

.green-btn.dark {
  background-color: #689f38;
}

.green-btn.dark:hover {
  background-color: #558b2f;
}

input[type="text"].dark {
  background-color: #333;
  color: #fff;
}

footer.dark {
  background-color: #222;
}

footer.dark p {
  color: #fff;
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 24px;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
  }

  .green-btn {
    width: 70%;
    margin: 10px 0;
  }

  input[type="text"] {
    width: 70%;
  }

  #toggle-theme-btn {
    top: 10px;
    right: 10px;
  }
}

@keyframes explode {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2); opacity: 0; }
}
