/* Estilos comunes para todos los tamaños de pantalla */
h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 36px;
}

#flag-img {
  width: 100%; /* Hacer la imagen responsive */
  max-width: 600px; /* Establecer un ancho máximo para evitar que la imagen se agrande demasiado en pantallas grandes */
  height: auto; /* Mantener la proporción */
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

#guess-input {
  width: 100%; /* Hacer el campo de entrada responsive */
  height: 40px;
  margin: 20px 0;
  padding: 0 10px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}

#guess-btn, #hint-btn, #next-btn, #dark-light-btn, #next-flag-btn {
  width: 100%; /* Hacer los botones responsive */
  height: 40px;
  margin: 10px 0; /* Margen reducido para botones */
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

#guess-btn {
  background-color: #28a745; /* Color verde para el botón de adivinar */
}

#hint-btn {
  background-color: #007bff; /* Color azul para el botón de pista */
}

#next-btn {
  background-color: #ce8fff; /* Color morado para el botón de siguiente */
}

#dark-light-btn {
  background-color: #5f28ff; /* Color violeta para el botón de cambio de modo oscuro */
}

#result {
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
  color: #333;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cambiado a min-height para pantallas más pequeñas */
}

body.dark {
  background-color: #222;
  color: #f2f2f2;
}

.dark-mode-btn {
  background-color: #f2f2f2;
  color: #222;
}

.dark {
  color: white;
}

.btn-container {
  display: flex;
  flex-wrap: wrap; /* Permitir que los botones se envuelvan en la siguiente línea en pantallas pequeñas */
  justify-content: space-evenly; /* Centrar los botones en pantallas pequeñas */
}

nav {
  background-color: #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  float: right;
  padding: 16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: block; /* Cambiado a block para un apilamiento mejor en pantallas pequeñas */
  margin-bottom: 10px; /* Agregado espacio entre elementos de la lista */
}

nav li a {
  color: #333;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  display: block; /* Cambiado a block para un apilamiento mejor en pantallas pequeñas */
}

nav li a:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  #flag-img {
    margin: 10px 0; /* Ajustado el margen para pantallas más pequeñas */
  }

  #guess-btn, #hint-btn, #next-btn, #dark-light-btn, #next-flag-btn {
    margin: 10px 0; /* Ajustado el margen para pantallas más pequeñas */
  }
}
